* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */


body {
    background-color: black;
    color: white;
}



#top-bar {
    border: purple 1px dashed;
    /* test */

    position: fixed;
    top: 0;
    right: 0;

    padding: 8px;
}


#bottom-bar {
    border: dashed blue 1px;

    height: 100px;
    /* test */

    position: fixed;
    bottom: 0;    
    left: 0;

    width: 100%;

    background-color: #222222;
}

/* sezione webcam */
#webcams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    gap: 16px 6px;

    padding: 80px 16px;

    padding-bottom: calc(100px + 30px); /* altezza bottom-bar + padding */
}

#webcams .webcam {
    /* border: red 1px dotted; */
    background-color: rgba(255, 0, 0, 0.2);
    /* test */

    width: 254px;
    height: 150px;
}
/* fine sezione webcam */
